body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
}

.form-container h2 {
    text-align: center;
}

.form-container input[type=text],
.form-container input[type=email],
.form-container textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.form-container .btn:hover {
    background-color: #45a049;
}

.form-container .cancel {
    background-color: red;
}

.form-container .cancel:hover {
    background-color: #f44336;
}

button#openForm {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}

button#openForm:hover {
    background-color: #45a049;
}

button#openForm:focus {
    outline: 0;
}

button#closeForm {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
}

button#closeForm:hover {
    background-color: #f44336;
}
